body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
/* border: 2px solid brown; */
    height: 300px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.clk{
    height: 200px;
    width: 500px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.box{
    height: 100px;
    width: 200px;
    background-color: palegreen;
    margin: 4px 4px;
    text-align: center;
font-size: xx-large;

    
}